name: ci
on:
  workflow_dispatch: #github页面手动触发
  push:
    branches: [ "develop", "main" ]
    tags:
      - "v*.*.*"

jobs:
  build-and-push-images-api:
    runs-on: ubuntu-latest
    env:
      TZ: Asia/Shanghai
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Get Repository Name
        run: echo "REPO_NAME=$(basename -s .git $GITHUB_REPOSITORY)-api" >> $GITHUB_ENV

      - name: Set short SHA
        run: echo "IMAGE_TAG=$(echo ${{ github.sha }} | cut -c 1-7)" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login Docker Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ vars.REGISTRY }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Build && Push
        uses: docker/build-push-action@v5
        with:
          context: ./api
          file: ./api/Dockerfile
          push: true
          tags: |
            ${{ vars.REGISTRY }}/${{ vars.REGISTRY_GROUP }}/${{ env.REPO_NAME }}:${{ env.IMAGE_TAG }}


      - name: Deploy to Test Server
        uses: appleboy/ssh-action@v1.0.0
        # 部署到测试环境
        if: github.ref == 'refs/heads/develop'
        with:
          host: ${{ vars.SSH_HOST }}
          port: ${{ vars.SSH_PORT }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            date
            docker login ${{ vars.REGISTRY }} -u ${{ secrets.REGISTRY_USERNAME }} -p ${{ secrets.REGISTRY_PASSWORD }}
            cd /root/dify/docker
            sed -i "s/^TAG=.*/TAG=${{ env.IMAGE_TAG }}/" .env
            # web暂时在这儿一起升级了
            docker-compose up api web worker -d
      
